# Go
bin/
*.exe
*.test
*.out
coverage.out

# Node
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Temporary & Test Reports
tmp/
temp/
tests/original/*.json
tests/*.exe